In [1]:
#1. 创造对象
import numpy as np
import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s
dates = pd.date_range('20130101', periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df
df2 = pd.DataFrame({'A': 1.,
                        'B': pd.Timestamp('20130102'),
                        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                        'D': np.array([3] * 4, dtype='int32'),
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                       'F': 'foo'})
df2
df2.dtypes

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [3]:
#2. 查看数据
df.head()
df.tail(3)
df.index
df.columns
df.to_numpy()
df2.to_numpy()
df.describe()
df.T
df.sort_index(axis=1, ascending=False)
df.sort_values(by='B')

                   A         B         C         D
2013-01-05  1.241695 -0.724281 -0.784525 -0.753896
2013-01-06 -0.668805 -0.419825 -0.533796  1.570790
2013-01-04  0.811261 -0.122673 -0.001895  0.944159
2013-01-03  1.035523 -0.091439  0.831018 -0.717615
2013-01-02  1.429724  0.139702  0.431756  0.643721
2013-01-01  1.186473  1.186647  0.491526 -0.819044

In [3]:
#3选择
#3.1 获取行/列
df['A']
#df[0:3]
#df['20130102':'20130104']

pandas.core.series.Series

In [13]:
#3.2 通过 label 选择
df.loc[dates[0]]

df.loc[:, ['A', 'B']]

df.loc['20130102':'20130104', ['A', 'B']]
df.loc['20130102', ['A', 'B']]
df.loc[dates[0], 'A']
print(type(df.loc['20130102':'20130104', ['A', 'B']]))
df.at[dates[0], 'A']#单个数据版的loc

<class 'pandas.core.frame.DataFrame'>

-0.33845701795816296

In [ ]:
#3.3 通过整数下标选择

df.iloc[3]
df.iloc[3:5, 0:2]
df.iloc[[1, 2, 4], [0, 2]]
df.iloc[1:3, :]
df.iloc[:, 1:3]
df.iloc[1, 1]
df.iat[1, 1]

In [ ]:
#3.4 条件选择
df[df['A'] > 0]
df[df > 0]
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2[df2['E'].isin(['two', 'four'])]

In [ ]:
#3.5 修改DataFrame
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
print(s1)
df['F'] = s1
df.loc[:, 'D'] = np.array([5] * len(df))

In [ ]:
#4 缺失值
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
print(df1)
df1.dropna(how='any')
df1.fillna(value=5)
pd.isna(df1)

In [ ]:
#5操作
#5.1 统计
print(df)
df.mean()
df.mean(1)
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
print(s)
df.sub(s, axis='index')

In [ ]:
#5.2 Apply
print(df)
df.apply(np.cumsum)
df.apply(lambda x: x.max() - x.min())

In [ ]:
#5.3 数量统计
s = pd.Series(np.random.randint(0, 7, size=10))
print(s)
s.value_counts()

In [ ]:
#5.4 字符串函数
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

In [ ]:
#6 合并
#6.1 Concat
df = pd.DataFrame(np.random.randn(10, 4))
print(df)
pieces = [df[:3], df[3:7], df[7:]]
print(pieces)
pd.concat(pieces)

In [ ]:
#6.2 Join

left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
print(pd.merge(left, right, on='key'))

left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
pd.merge(left, right, on='key')

In [ ]:
#6.3. Append
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
s = df.iloc[3]
df.append(s,ignore_index=True)

In [ ]:
#7 分组
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                             'foo', 'bar', 'foo', 'foo'],
                       'B': ['one', 'one', 'two', 'three',
                             'two', 'two', 'one', 'three'],
                       'C': np.random.randn(8),
                       'D': np.random.randn(8)})
print(df)
df.groupby('A').sum()
df.groupby(['A', 'B']).sum()

In [ ]:
#8 变形
#8.1 Stack 层叠
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                         'foo', 'foo', 'qux', 'qux'],
                        ['one', 'two', 'one', 'two',
                         'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print(index)
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
print(df)
stacked = df.stack()
stacked.unstack()

In [ ]:
#8.2. Pivot Table 旋转
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                       'B': ['A', 'B', 'C'] * 4,
                       'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                       'D': np.random.randn(12),
                       'E': np.random.randn(12)})
print(df)
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

In [7]:
#9 时间序列
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts_utc = ts.tz_localize('UTC')
ts_utc
ts_utc.tz_convert('US/Eastern')
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ps = ts.to_period()
ps.to_timestamp()
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.head()

1990-03-01 09:00   -0.200267
1990-06-01 09:00   -0.073982
1990-09-01 09:00   -0.390504
1990-12-01 09:00   -0.381738
1991-03-01 09:00    3.241686
Freq: H, dtype: float64

In [ ]:
#10. 类别
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6],
                       "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})
df["grade"] = df["raw_grade"].astype("category") 
df["grade"]
df["grade"].cat.categories = ["very good", "good", "very bad"]
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium",
                                                  "good", "very good"])
df.sort_values(by="grade")
df.groupby("grade").size()

In [ ]:
#11.图形化
ts = pd.Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000)) 
ts = ts.cumsum()
ts.plot()
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                      columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
df.plot()

In [ ]:
#11 读取数据
#11.1  读取CSV文件
df.to_csv('foo.csv')
pd.read_csv('foo.csv')
df.to_hdf('foo.h5', 'df')
pd.read_hdf('foo.h5', 'df')
df.to_excel('foo.xlsx', sheet_name='Sheet1')
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

In [ ]:
#12. 坑
if pd.Series([False, True, False]):
    print("I was true")